*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
}

/* Navbar */

.header__content {
  position: absolute;
  z-index: 2;
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
}

.header__content {
  padding: 0 30px;
  margin-top: 30px;
}

.navbar-brand img {
  max-height: 60px;
  max-width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 16px;
  margin: 0 16px;
  color: #fff;
  transition: all 0.5s;
  z-index: 999;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fd4766;
}

.header__btn {
  font-size: 16px;
  margin-left: 32px;
  letter-spacing: 2px;
  color: #fff;
  padding: 16px 40px;
  border: 2px solid #8b96964b;
  border-radius: 500px;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 999;
}

.header__btn:hover {
  background-color: #fd4766;
  border: 2px solid #fd4766;
  color: #fff;
}

/* Carousel */

.carousel-item {
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel-item:nth-child(1) {
  background-image: url("./../img/bg-image-20.jpg");
}

.carousel-item:nth-child(2) {
  background-image: url("./../img/bg-image-22.jpg");
}

.carousel-item:nth-child(3) {
  background-image: url("./../img/bg-image-23.jpg");
}

.carousel-item:nth-child(4) {
  background-image: url("./../img/bg-image-24.jpg");
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-caption h1 {
  color: #ffffff;
  font-weight: 900;
}

.carousel-caption p {
  margin: 0 0 64px 0;
  padding: 0 16%;
  font-weight: 300;
}

.carousel__btn {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  padding: 16px 40px;
  border: 2px solid #8b96964b;
  border-radius: 500px;
  transition: all 0.5s;
  z-index: 999;
  background-color: #fd4766;
}

.carousel__btn:hover {
  background-color: transparent;
  border: 2px solid #fd4766;
  color: #fff;
}

.carousel-indicators {
  align-items: center;
}

.carousel-indicators li {
  width: 6px;
  height: 6px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.5;
  transition: opacity .6s ease;
  border-radius: 100%;
  margin: 0 8px;
  border: none;
}

.carousel-indicators li.active {
  background-color: transparent;
  border: 2px solid #fd4766;
}

.carousel-indicators {
  bottom: 10%;
}

.carousel-control-prev i, 
.carousel-control-next i {
  font-size: 32px;
  padding: 16px 18px;
  border: 2px solid #8b96964b;
  border-radius: 500px;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 999;
}

.carousel-control-prev i:hover {
  background-color: #fd4766;
  border: 2px solid #fd4766;
  color: #fff;
  transform: translateX(-20px);
}

.carousel-control-next i:hover {
  background-color: #fd4766;
  border: 2px solid #fd4766;
  color: #fff;
  transform: translateX(20px);
}

/* Feature */


.feature__header h6 {
  padding-top: 80px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4765 79.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.feature__header h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.feature__header p {
  font-size: 18px;
  line-height: 30px;
  color: gray;
}

.feature__card {
  background-color: #f6f6f6;
  padding: 40px 30px;
  margin: 16px 16px;
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
}

.feature__content {
  margin-top: 60px;
}

.feature__card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.feature__logo:nth-child(1) {
  font-size: 32px;
  color: #fd4766;
}

.feature__logo:nth-child(2) {
  font-size: 32px;
  color: lime;
}

.feature__card h6 {
  margin: 24px 0;
  font-size: 18px;
  font-weight: bold;
}

.feature__card p {
  font-size: 18px;
  line-height: 30px;
  color: gray;
}

/* Project */

.project {
  background-image: url("./../img/bg-image-3.jpg");
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  position: relative;
}

.project__header {
  padding: 100px 0;
}

.project__header h6 {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4765 79.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.project__header h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.project__header p {
  font-size: 18px;
  line-height: 30px;
  color: gray;
}

.project__card {
  border-radius: 10px;
  /* width: 350px; */
  position: relative;
  margin: 12px 12px;
  transition: all 0.5s;
  overflow: hidden;
}

.project__card img {
  border-radius: 10px;
  transition: all 0.5s;
  width: 100%;
}

.project__card:hover {
  transform: translateY(-10px);
}

.project__card:hover .project__text {
  transform: translateY(-70px);
}

.project__card:hover .project__text p {
  color: rgb(170, 170, 170);
}

.project__card:hover img {
  transform: scale(1.15);
}

.project__card:hover .project__overlay {
  box-shadow: #fd4967a2 0 -400px 100px -100px inset;
  cursor: pointer;
}

.project__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: red; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* padding: 2rem; */
  color: #FFF;
  opacity: 1;
  transition: all 0.5s;
  border-radius: 10px;
  overflow: hidden;

}

.project__text {
  position: absolute;
  bottom: -70px;
  transition: all 0.5s;
}

.project__text h6 {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 24px;
  border-radius: 4px;
}

.project__text h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 12px 0 24px 0 ;
}

.project__text p {
  font-size: 18px;
  line-height: 30px;
  color: transparent;
  transition: all 0.5s;
}

.project__btn {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  padding: 16px 40px;
  border: 2px solid #8b96964b;
  border-radius: 500px;
  transition: all 0.5s;
  z-index: 999;
  background-color: #fd4766;
  margin: 36px 0 64px 0;
  left: 50%;
}

.project__btn:hover {
  background-color: transparent;
  border: 2px solid #fd4766;
  color: #fd4766;
}

/* About */

.about .about__content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0;
}

.about .about__left {
  margin-bottom: 24px;
}

.about .about__left img {
  border-radius: 10px;
}


.about .about__right {
  padding-left: 24px;
}

.about .about__right h6 {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4765 79.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;

}

.about .about__right h5 {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 12px;
  color: #000;
}

.about .about__right h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.about .about__right p {
  font-size: 18px;
  line-height: 30px;
  color: gray;
}

.about .our__history__text p {
  display: inline-block;
}

.about .nav-pills {
  border: 1px solid #8b96964b;
  border-radius: 20px;
  margin: 30px 0;
  width: 466px;
  padding-right: 0;
  /* height: 40px; */
}

.about .nav-item {

}

.about .nav-link {
  font-size: 16px;
  letter-spacing: 1px;
  color: #000;
  padding: 8px 16px;
}

.about .nav-pills .nav-link.active {
  color: #f6f6f6;
  background-color: #fd4766;
  border-radius: 20px;
  padding: 8px 16px;
  padding: 0 16px;
  line-height: 41px;
}

.about .our__hitory__content h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #000;
}

.about .our__history__text i {
  font-size: 16px;
  margin-right: 12px;
  color: #fd4766;
}

/* Quote */

.quote {
  /* background-image: url("./../img/bg-image-3.jpg"); */
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  position: relative;
}

.quote__content {
  display: flex;
  padding: 100px 0;
}

.quote__left,
.quote__right {
  width: 50%;
}

.quote__left {
  display: flex;
  align-items: center;
  position: relative;
}

.quote__left p {
  font-size: 30px;
  line-height: 48px;
  color: #18181b;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.quote__left p::before {
  position: absolute;
  width: 177px;
  height: 100%;
  left: -80px;
  top: -50px;
  background-image: url(../img/image-1.png);
  content: "";
  opacity: 1;
  background-repeat: no-repeat;
  z-index: -1;
}

.quote__left span {
  color: #fd4766;
  font-size: 20px;
  text-transform: uppercase;
}

.quote__left h6 {
  color: gray;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: center;
}

.quote__right .nav-item {
  margin: 8px 6px;
}

.quote__right .nav-link {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}


.quote__right img {
  border-radius: 6px;
  width: 100%;
  max-height: 140px;
  min-height: 140px;
  /* height: 100%; */
  object-fit: cover;
  transition: all 0.5s;
}

.quote__right .nav-link .thumb {
  position: relative;
}

.quote__right .nav-link .thumb::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  border-radius: 6px;
}

.quote__right .nav-pills a.active .thumb::after {
  background-color: rgba(255, 255, 255, 0);
}

.nav-pills .nav-link.active {
  background-color: rgba(255, 255, 255, 0);
}

.nav-pills .nav-link.active img{
  color: #fff;
  transform: scale(1.1);
}

/* Post */

.post {
  padding: 100px 0;
}

.post__header h6 {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4765 79.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.post__header h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.post__header p {
  font-size: 18px;
  line-height: 30px;
  color: gray;
}

.post__card {
  border-radius: 10px;
  /* width: 350px; */
  position: relative;
  margin: 12px 12px;
  transition: all 0.5s;
  overflow: hidden;
}

.post__card img {
  border-radius: 10px;
  transition: all 0.5s;
  width: 100%;
}

.post__card:hover {
  transform: translateY(-10px);
}

.post__card:hover .post__text {
  transform: translateY(-70px);
}

.post__card:hover .post__hidden__btn {
  opacity: 0.7;
}

.post__card:hover img {
  transform: scale(1.15);
}

.post__card:hover .post__overlay {
  box-shadow: #fd4967a2 0 -400px 100px -100px inset;
  cursor: pointer;
}

.post__overlay {
  /* background-color: red; */
  background: linear-gradient(180deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75) 100%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* padding: 2rem; */
  color: #FFF;
  opacity: 1;
  transition: all 0.5s;
  border-radius: 10px;
  overflow: hidden;
}

.post__text {
  position: absolute;
  bottom: -40px;
  transition: all 0.5s;
  padding-left: 25px;
}

.post__text h6 {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 18px;
  border-radius: 4px;
  color: #ffffff;
  opacity: 0.7;
}

.post__text h3 {
  font-size: 24px;
  font-weight: 600;
  /* margin: 12px 0 24px 0 ; */
}

.post__hidden__btn {
  padding: 8px 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  background-color: transparent;
  color: #ffffff;
  opacity: 0;
  transition: all 0.5s;
  margin-top: 15px;
}

.post__hidden__btn:hover {
  background-color: #fd4766;
  border: 2px solid #fd4766;
  cursor: pointer;
  transform: translateY(-4px);
}

.post__btn {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  padding: 16px 40px;
  border: 2px solid #8b96964b;
  border-radius: 500px;
  transition: all 0.5s;
  z-index: 999;
  background-color: #fd4766;
  margin: 36px 0 64px 0;
  left: 50%;
}

.post__btn:hover {
  background-color: transparent;
  border: 2px solid #fd4766;
  color: #fd4766;
}

/* Clients */

.clients {
  background-image: url("./../img/bg-image-3.jpg");
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 100px 0;
}

.clients {
  
}

.clients__header h6 {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4765 79.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.clients__header h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.clients__header p {
  font-size: 18px;
  line-height: 30px;
  color: gray;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  
}

.clients .col-lg-4 {
  padding: 0 !important;
}

.clients__card {
  text-align: center;
  height: 214px;
  line-height: 214px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.5s;
  z-index: -1;
}

.clients__card img {
  transition: all 0.5s;
  max-height: 110px;
  max-width: 150px;
}

.clients__card:hover {
  background-color: #fd4765;
  transform: scale(1.12);
  border-radius: 5px;
}

/* Footer */

.footer {
  background-color: #000;
}

.footer__title {
  display: flex;
  padding: 80px 0;
  border-bottom: 1px solid #757575;
}

.footer__title h2 {
  color: #ffffff;
}

.footer__wrap_btn {
  display: flex;
  align-items: center !important;
  height: 100%;
}


.footer__btn:hover {
  background-color: #fd4766;
  border: 2px solid #fd4766;
  color: #fff;
}

.footer__more {
  padding: 80px 0;
  position: relative;
}

.footer__logo__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.footer__logo img {
  max-height: 60px;
}

.footer__logo__wrap p,
.footer__logo__wrap a {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
} 


.footer__link {
  /* margin-left: 8.333333%; */
}

.footer__link h4 {
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
}

.footer__link li {
  list-style: none;
  margin-top: 13px;
  color: #757575;
  font-size: 16px;
}

.footer__link a {
  text-decoration: none;
  color: #757575;
  font-size: 16px;
  padding: 5px 0;
}

.footer__list a {
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
}

.footer__list p {
  margin-bottom: 0;
}

.footer__list a::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4765 79.69%);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.footer__list a:hover {
  color: #fd4765;
}

.footer__list a:hover::after {
  width: 100%;
}

.footer__social i {
  font-size: 30px;
  margin: 32px 8px 0 8px;
  transition: all 0.5s;
}

.footer__social i:hover  {
  color: #f6f6f6;
  transform: translateY(-4px);
  cursor: pointer;
}

/* back to top */
.arrow__up i {
  background-color: transparent;
  padding: 15px;
  color: #fd4765;
  border-radius: 50%;
  position: fixed;
  right: 32px;  
  bottom: 32px;
  font-size: 1.5rem;
  border: 2px solid #fd4765;
}

.arrow__up {
  opacity: 0;
}

.cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}

/* Responsive */

/* PC */

@media (min-width: 992px){

  .carousel-caption h1 {
    font-size: 100px;
  }
  
  .carousel-caption p {
    font-size: 24px;
    line-height: 40px;
  }

  .carousel-item {
    height: 100vh;
  }

  .footer__btn {
    margin-left: auto;
  }

  .footer__title h2 {
    font-size: 36px;
  }

  .footer__btn {
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    padding: 24px 64px;
    border: 2px solid #8b96964b;
    border-radius: 500px;
    background-color: transparent;
    transition: all 0.5s;
    z-index: 999;
    /* margin-left: auto; */
  }
  
}

/* Tablet */

@media (min-width: 576px) and (max-width: 991px) {

  .header__btn {
    font-size: 12px;
    /* margin-left: 32px; */
    color: #fff;
    /* padding: 16px 40px; */
    border: 2px solid #8b96964b;
    border-radius: 500px;
    background-color: transparent;
    transition: all 0.5s;
    z-index: 999;
  }

  .carousel-item {
    height: 60vh;
  }

  .carousel-caption h1 {
    font-size: 50px;
  }
  
  .carousel-caption p {
    font-size: 24px;
    line-height: 40px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .quote__right {
    margin-top: 24px;
  }

  .clients__card {
    text-align: center;
    height: 214px;
    line-height: 214px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.5s;
    z-index: -1;
  }

  .footer__btn {
    margin-right: auto;
  }

  .footer__title h2 {
    font-size: 24px;
  }

  .footer__btn {
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    padding: 12px 32px;
    border: 2px solid #8b96964b;
    border-radius: 500px;
    background-color: transparent;
    transition: all 0.5s;
    z-index: 999;
    /* margin-left: auto; */
    margin-top: 12px;
  }

  .footer__link__margin {
    margin-top: 40px;
  }

}

/* Mobile */

@media (max-width: 575px) {

  .carousel-item {
    height: 70vh;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-caption p {
    margin: 0 0 64px 0;
    padding: 0;
  }

  .footer__btn {
    margin-right: auto;
  }

  .header__btn {
    font-size: 12px;
    padding: 8px 20px;
  }

  .about .about__content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
  }

  .about .nav-pills {
    border: none;
    border-bottom: 1px solid #8b96964b;
    border-radius: 0px;
    /* margin: 30px 0; */
    width: 100%;
    /* height: 40px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .about .nav-item {
  
  }
  
  .about .nav-link {
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    /* padding: 8px 16px; */
  }
  
  .about .nav-pills .nav-link.active {
    color: #f6f6f6;
    background-color: #fd4766;
    border-radius: 20px;
    padding: 0px 16px;
    /* padding: 0 16px; */
    line-height: 40px;
    max-width: 40vw;
  }

  .our__history__line {
    display: flex;
  }

  .about .our__history__text p {
    display: inline-block;
    font-size: 18px;
    line-height: 34px;
  }

  .about .our__history__text i {
    font-size: 16px;
    margin-right: 12px;
    color: #fd4766;
    line-height: 34px;
  }

  .feature__header h1,
  .project__header h1,
  .about .about__right h1,
  .post__header h1,
  .clients__header h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 43px;
    margin-bottom: 20px;
  }

  .quote__left p {
    font-size: 20px;
    line-height: 34px;
    color: #18181b;
    font-weight: 500;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
  }

  .quote__left span {
    color: #fd4766;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .quote__left h6 {
    color: gray;
    font-size: 16px;
  }

  .quote .nav-pills {
    display: flex;
  }

  .quote__right img {
    border-radius: 6px;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    /* height: 100%; */
    object-fit: cover;
    transition: all 0.5s;
  }

  .clients__card {
    text-align: center;
    height: 160px;
    line-height: 160px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    z-index: -1;
  }
  
  .clients__card img {
    transition: all 0.5s;
    max-height: 75px;
    max-width: 150px;
  }

  .footer__btn {
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    padding: 12px 32px;
    border: 2px solid #8b96964b;
    border-radius: 500px;
    background-color: transparent;
    transition: all 0.5s;
    z-index: 999;
    /* margin-left: auto; */
    margin-top: 12px;
  }

  .footer__link__margin_mobile {
    margin-top: 20px;
  }

  .navbar-brand img {
    max-height: 40px;
    max-width: 100%;
  }

  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;

    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

.header__btn {
  font-size: 10px;
  /* margin-left: 32px; */
  /* letter-spacing: 2px; */
  color: #fff;
  /* padding: 16px 40px; */
  border: 2px solid #8b96964b;
  border-radius: 500px;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 999;
  }


}